/* font-family: 'Festive', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */
body {
  text-align: center;
  background-color: #e8f6ef;
  font-family: verdana, sans-serif;
  width: auto;
}
.nav-div {
  background-color: #66bfbf;
  height: 80px;
  position: relative;
  right: 10px;
  bottom: 10px;
  width: 1540px;
}
.nav-bar {
  font-size: 1.3rem;
  position: relative;
  right: 560px;
  top: 25px;
}
.top-link {
  text-decoration: none;
  margin-left: 10px;
  color: #595260;
}
button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.line {
  border-top: dotted;
  width: 5%;
  border-width: 7px;
}
.name {
  font-size: 5.6rem;
  color: #66bfbf;
}
.title {
  font-size: 2.5rem;
  position: relative;
  color: #66bfbf;
  left: 50px;
  bottom: 50px;
  font-weight: normal;
}
.my-skills {
  font-weight: 2.2rem;
  font-size: 2.2rem;
}
.hello {
  font-weight: 1.7rem;
  font-size: 1.7rem;
}
h1 {
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}
.get-in-touch {
  font-size: 1.9rem;
  margin-bottom: 40px;
}
.if-you-like {
  margin-bottom: 40px;
}
h3 {
  font-family: "Merriweather", serif;
  color: #66bfbf;
}
h2 {
  font-family: "Merriweather", serif;
  color: #66bfbf;
}
.content {
  font-family: "Yomogi", cursive;
  font-weight: 1.2rem;
  font-size: 1.2rem;
  line-height: 1.4;
  width: 450px;
  height: 200px;
  position: relative;
  left: 530px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.content2 {
  font-family: "Yomogi", cursive;
  font-weight: 1.3rem;
  font-size: 1.3rem;
  line-height: 1.4;
  position: relative;
  left: 740px;
  bottom: 80px;
  width: 400px;
  height: 200px;
  font-family: "Montserrat", sans-serif;
}
.content3 {
  font-family: "Yomogi", cursive;
  font-weight: 1.3rem;
  font-size: 1.3rem;
  line-height: 1.4;
  position: relative;
  left: 240px;
  bottom: 100px;
  width: 550px;
  height: 230x;
  font-family: "Montserrat", sans-serif;
}
.skill1 {
  position: relative;
  top: 95px;
  left: 130px;
  font-weight: 1.5rem;
  font-size: 1.5rem;
}
.skill2 {
  position: relative;
  top: 70px;
  right: 380px;
  font-weight: 1.5rem;
  font-size: 1.5rem;
}
.pro {
  text-decoration: underline;
}
.second-cloud {
  position: relative;
  bottom: 200px;
  left: 100px;
}
.first-cloud {
  position: relative;
  left: 250px;
  bottom: 10px;
}
.name-title {
  position: absolute;
  top: 90px;
  left: 700px;
}
.mountain {
  position: relative;
  top: 350px;
  left: 140px;
}
.top-container {
  position: relative;
  bottom: 90px;
  right: 150px;
}
.middle-container {
  position: relative;
  /* background-color: #b6c9f0; */
  text-align: center;
  top: 360px;
  margin-bottom: 70px;
  height: 1.1rem;
  width: auto;
}
.bottom-container {
  position: relative;
  top: 1700px;
  text-align: center;
  background-color: #66bfbf;
  margin-top: 100px;
  height: 150px;
}
.nikhil-pic {
  width: 200px;
  height: 200px;
}
.problem-pic {
  width: 10%;
  height: 7%;
  border-radius: 90%;
  border: 5px black solid;
  position: relative;
  right: 170px;
  top: 20px;
}
.footer-link {
  position: relative;
  top: 40px;
  color: black;
  text-decoration: none;
  color: #595260;
  font-size: 1.1rem;
  margin-right: 20px;
}
.copyright {
  position: relative;
  top: 40px;
  color: white;
  margin-top: 30px;
  font-size: 0.9rem;
}
.coder-pic {
  width: 10%;
  height: 7%;
  border-radius: 90%;
  border: 5px black solid;
  position: relative;
  left: 190px;
  top: 45px;
}
.skill-row1 {
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 0;
  position: relative;
  right: 80px;
  bottom: 40px;
}
.skill-row2 {
  margin-bottom: 70px;
  padding: 0;
  margin-top: 0;
  position: relative;
  bottom: 280px;
  left: 150px;
}
.contact-me {
  position: relative;
  bottom: 350px;
  font-size: 1.1rem;
}
/* .skils {
  position: relative;
  bottom: 100px;
} */


